html {
  background-color: rgba(255, 255, 255, 0.452);
  align-items: center;
}

img{
  margin-bottom: 0%;
}

a {
  color: black;
  background-image: none;
}

p{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

h1{
  text-align: center;
}

header{
  margin-bottom: 0.5em;
  background-color: rgba(255, 255, 255);
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 1%;
  padding-right: 1%;
  box-shadow: 1px 1px 12px 4px #3e408414;
}

.head-link{
  display: inline-block;
  margin-right: 1em;
}

a.head-link {
  opacity: 0.7;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

a.head-link:hover{
  opacity: 1.2;
}

ul{
  float: right;
  height: 3.3em;
  display: flex;
  align-items: center;
}

footer{
  margin-top: 3.5em;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;

  background-color: rgb(79, 19, 114); /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, rgb(8, 231, 8) , rgb(160, 29, 160));
}

.logo{
  width: 2em;
  transition: 1.75s;
}

.logo:hover{
  
  transform: rotateX(360deg);
  transform: rotateZ(360deg);
}

.avatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 18%;

  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s
}

.avatar:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}