html {
  background-color: rgba(255, 255, 255, 0.452);
  align-items: center;
  scroll-behavior: smooth;
}

header{
  width:100%;
  top: 0;
  margin-bottom: 0.5em;
  padding:0.5em 1em;
  vertical-align: middle;
  
  background-color: rgb(79, 19, 114, 0.9);
  box-shadow: 1px 1px 12px 4px #3e408414;

  position: fixed;
  z-index: 2;
}

footer{
  color: white;
  margin-top: 3.5em;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;

  background-color: rgb(79, 19, 114);
}

img, a{
  margin-bottom: 0%;
  background-image: none;

}

h1{
  text-align: center;
  margin-bottom: 0.2em;
}

h2{
  margin-top: 0;
}

h3, h4{
  text-align: center;
  margin-bottom: 5%;
  margin-top: 0;
}

p{
  
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.content{
  margin-top: 8em;
}

.resume{
  margin-top: 4em;
  margin-bottom: 9em;
}

.info, .resume , .content{
  text-align: center;
}

.about{
  margin-top: 4em;
  margin-bottom: 8em;
}

.about-text{
  margin-top: 2em;
  margin-bottom: 3em;
}

.contact{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
  margin-bottom: 6.5em;
  text-align: center;
}

.contact-box{
  width: 12%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 12px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s
}

.contact-box:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.ct{
  margin-top: 0;
  margin-bottom: 0;
}

.head-link, .head-link1, .head-link2{
  display: inline-block;
  margin-right: 1em;
}

a.head-link , a.head-link1, a.head-link2{
  opacity: 0.7;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

a.head-link:hover, a.head-link1:hover, a.head-link2:hover{
  opacity: 1.2;
}

.list-links{
  float: right;
  display: flex;
  align-items: center;
  padding-top: 13px;
  margin-bottom: 0px;
}

.list-tags{
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
}

.logo{
  width: 2em;
  transition: 1.75s;
}

.logo-link{
  width: 1.5em;
  margin-left: 1.2em;
  transition: 1.75s;  
}

.logo-tag{
  width: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.logo:hover, .logo-link:hover{
  
  transform: rotateX(360deg);
  transform: rotateZ(360deg);
}

.avatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 18%;
  padding: 3px;

  border-radius: 50%;
  border: solid #000000e0 2.5px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s
}

.avatar:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  margin-left: 8em;
  margin-right: 8em;
}

.column {
  margin-top: 2em;
  float: left;
  width: 33.33%;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* FIX TAG COLORS*/

.github, .linkedin, .stackoverflow, .freecodecamp{
  filter: invert(97%) sepia(6%) saturate(945%) hue-rotate(53deg) brightness(94%) contrast(102%);
}

.bootstrap{
  filter: invert(23%) sepia(8%) saturate(4723%) hue-rotate(223deg) brightness(99%) contrast(84%);
}

.cplusplus{
  filter: invert(25%) sepia(66%) saturate(1575%) hue-rotate(181deg) brightness(95%) contrast(105%);
}

.css3{
  filter: invert(30%) sepia(31%) saturate(5049%) hue-rotate(188deg) brightness(87%) contrast(83%);
}

.docker{
  filter: invert(47%) sepia(50%) saturate(836%) hue-rotate(163deg) brightness(101%) contrast(93%);
}

.gatsby{
  filter: invert(22%) sepia(24%) saturate(4997%) hue-rotate(251deg) brightness(92%) contrast(91%);
}

.graphql{
  filter: invert(26%) sepia(98%) saturate(7053%) hue-rotate(309deg) brightness(88%) contrast(109%);
}

.heroku{
  filter: invert(14%) sepia(50%) saturate(5761%) hue-rotate(264deg) brightness(78%) contrast(124%);
}

.js{
  filter: invert(91%) sepia(75%) saturate(4313%) hue-rotate(337deg) brightness(99%) contrast(96%);
}

.linux{
  filter: invert(85%) sepia(15%) saturate(3164%) hue-rotate(339deg) brightness(107%) contrast(98%);
}

.mysql{
  filter: invert(39%) sepia(61%) saturate(371%) hue-rotate(163deg) brightness(101%) contrast(94%);
}

.netlify{
  filter: invert(81%) sepia(29%) saturate(5961%) hue-rotate(123deg) brightness(84%) contrast(104%);
}

.php{
  filter: invert(65%) sepia(6%) saturate(3379%) hue-rotate(199deg) brightness(76%) contrast(80%);
}

.postgresql{
  filter: invert(36%) sepia(28%) saturate(973%) hue-rotate(165deg) brightness(93%) contrast(90%);
}

.react{
  filter: invert(79%) sepia(29%) saturate(2176%) hue-rotate(166deg) brightness(105%) contrast(97%);
}

.ruby{
  filter: invert(23%) sepia(39%) saturate(6111%) hue-rotate(351deg) brightness(89%) contrast(79%);
}

.rails{
  filter: invert(10%) sepia(76%) saturate(7165%) hue-rotate(14deg) brightness(100%) contrast(108%);
}

.tailwindcss{
  filter: invert(61%) sepia(7%) saturate(2930%) hue-rotate(128deg) brightness(95%) contrast(110%);
}

.webpack{
  filter: invert(78%) sepia(15%) saturate(948%) hue-rotate(160deg) brightness(100%) contrast(96%);
}

.word{
  filter: invert(36%) sepia(80%) saturate(450%) hue-rotate(154deg) brightness(92%) contrast(92%);
}